{{ define "main" }}
<article class="max-w-5xl mx-auto px-4">
  <h1 class="text-4xl font-bold mb-4">{{ .Title }}</h1>
  <p class="text-gray-600">{{ .Params.subtitle }}</p>
  <div class="text-gray-600">{{ .Content }}</div>

  <div class="card-list">
    {{ range .Data.Pages -}}
    <a class="block my-6" href="{{ .RelPermalink }}">
      {{ $img := .Params.featured_image }}
      {{ $title := .Params.title }}
      {{ with $img }}
      <img class="rounded max-w-full mb-4" src="{{ . }}" alt="{{ $title }}" />
      {{ end }}
      <h2 class="text-xl font-semibold mb-1">{{ $title }}</h2>
      <p class="font-light mb-2 text-gray-500 text-sm">
        {{ .Params.date.Format "January 2, 2006" }}
      </p>
      <div class="font-light text-gray-800 dark:text-gray-200">
        {{ .Summary }}
      </div>
    </a>
    {{ end -}}
  </div>
</article>
{{ end }}
