<section class="my-16 max-w-2xl mx-auto">
  <div class="text-4xl font-bold text-center">
    Want to get in touch?
    <br />
    <br />
    <a
      class="text-5xl text-blue-400 hover:text-blue-ª00"
      href="mailto:{{.Site.Params.authorEmail}}"
      >Let's chat 📨</a
    >
  </div>
</section>
