<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    {{ block "title" . }} {{- .Title }} - {{ .Site.Title -}} {{ end }}
  </title>
  {{- if .Description }}
  <meta name="description" content="{{ .Description }}" />
  {{ end -}}
  {{- if .Keywords }}
  <meta name="keywords" content="{{ delimit .Keywords "," }}" />
  {{ end -}}
  {{- if .Params.Author }}
  <meta name="author" content="{{ .Params.Author}}" />
  {{ end -}}
  {{ hugo.Generator }}

  {{- $styles := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") -}}
  {{- if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
  {{ else }}
  {{- $styles := $styles| minify | fingerprint | resources.PostProcess -}}
  <link
    rel="stylesheet"
    href="{{ $styles.Permalink }}"
  />
  {{ end -}}

  {{ if .Site.Params.autoDarkMode }}
  <script>
    // On page load or when changing themes
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  </script>
  {{ end }}
</head>
